body {
  margin         : 0 0 0 0;
  display        : flex;
  flex-direction : column;
  min-height     : calc(100vh - var(--header-height ));
}

// Vertical rhythm
h1, h2, h3, h4, h5, h6 {
  margin-top : 0;
  margin-bottom : 1rem;

  & + .subtitle {
    margin-top : -.5rem;
    margin-bottom : 1rem;
  }
}

li {
  margin-top : 0;
  margin-bottom : .75rem;
}

// Bloques de contenido
.l-block,
section,
p,
blockquote,
pre,
article,
figure,
iframe,
video,
ul,
ol {
  margin-top : 0;
  margin-bottom : 1rem;
}

// secciones principales
.l-section {
  margin-top : 0;
  margin-bottom : 4rem;

  .main-header + & {
    margin-top : 4rem;
  }

  &--main {
    margin-top : 0;
    margin-bottom : 8rem;
  }
}

.main-banner,
.topbar {
  margin-bottom : 4rem;
}

// main-banner y top-bar no deben separarse verticalmente de su hermano anterior

.topbar + .main-banner{
  margin-top : -4rem;
}
