extends layouts/template
append config
  -currentPage = 'Limpieza doméstica'
  -currentUrl = 'limpieza-domestica'
  -
    gallery = [
      {
        title: 'Limpieza de habitaciones',
        subGallery: [
          {
            title: '',
            src: 'limpieza-domestica-06-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-07-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-08-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-09-thumb.jpg'
          }
        ]
      },
      {
        title: 'Lavado de muebles con tapiz',
        subGallery: [
          {
            title: '',
            src: 'limpieza-domestica-04-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-10-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-11-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-12-thumb.jpg'
          }
        ]
      },
      {
        title: 'Lavado, abrillantado y pulido de pisos ',
        subGallery: [
          {
            title: '',
            src: 'limpieza-domestica-13-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-14-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-15-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-16-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza de espejos',
        subGallery: [
          {
            title: '',
            src: 'limpieza-domestica-17-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-18-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-19-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-20-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza y desempolvado de paredes, techos, cielos falsos',
        subGallery: [
          {
            title: '',
            src: 'limpieza-domestica-21-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-22-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-23-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-24-thumb.jpg'
          }
        ]
      },
      {
        title: 'Lavado de cortinas, manteles, estores, persianas',
        subGallery: [
          {
            title: '',
            src: 'limpieza-domestica-25-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-26-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-27-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-28-thumb.jpg'
          }
        ]
      },
      {
        title: 'Lavado de colchones',
        subGallery: [
          {
            title: '',
            src: 'limpieza-domestica-29-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-30-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-31-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-32-thumb.jpg'
          }
        ]
      },
      {
        title: 'Lavado y desengrasado de cocinas y comedores',
        subGallery: [
          {
            title: '',
            src: 'limpieza-domestica-01-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-02-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-03-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-05-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza de gradas y patios',
        subGallery: [
          {
            title: '',
            src: 'limpieza-domestica-33-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-34-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-35-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-36-thumb.jpg'
          }
        ]
      },
      {
        title: 'Barrido de pasillos y bauleras',
        subGallery: [
          {
            title: '',
            src: 'limpieza-domestica-37-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-38-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-39-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-40-thumb.jpg'
          }
        ]
      },
      {
        title: 'Virutillado, encerado y lustrado de pisos de madera',
        subGallery: [
          {
            title: '',
            src: 'limpieza-domestica-45-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-46-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-47-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-48-thumb.jpg'
          }
        ]
      },
      {
        title: 'Lavado de garajes y zonas de estacionamientos',
        subGallery: [
          {
            title: '',
            src: 'limpieza-domestica-41-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-42-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-43-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-domestica-44-thumb.jpg'
          }
        ]
      }
    ]
block main
  h2.title.t1= currentPage
  - for(let i = 0; i < gallery.length ; i++)
    - let g = gallery[i]
    article.rex-item.rex-container
      .rex-item
        h3.title2= g.title
      - for (let j = 0; j < g.subGallery.length; j++)
        -let sg = g.subGallery[j]
        .rex-item.l-25.m-50.l-block.center
          .card
            .card__img
              img(src= `${path_media}images/${currentUrl}/${sg.src}` alt= currentPage)