extends layouts/template
append config
  -currentPage = 'Limpieza industrial'
  -currentUrl = 'limpieza-industrial'
  -
    gallery = [
      {
        title: 'Limpieza de fábricas e industrias',
        subGallery: [
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-1-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-2-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-3-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-4-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza de almacenes, bodegas',
        subGallery: [
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-02-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-05-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-08-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-25-thumb.jpg'
          }
        ]
      },
      {
        title: 'Recojo selectivo de residuos industriales',
        subGallery: [
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-21-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-22-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-23-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-24-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza área de máquinas',
        subGallery: [
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-01-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-03-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-04-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-26-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza de residuos sólidos urbanos',
        subGallery: [
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-09-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-10-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-11-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-12-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza de talleres de todo tipo',
        subGallery: [
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-17-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-18-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-19-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-20-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza de zonas de circulación',
        subGallery: [
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-06-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-07-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-27-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-28-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza de conductos de ventilación y climatización',
        subGallery: [
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-13-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-14-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-15-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'limpieza-industrial-16-thumb.jpg'
          }
        ]
      }
    ]
block main
  h2.title.t1= currentPage
  - for(let i = 0; i < gallery.length ; i++)
    - let g = gallery[i]
    article.rex-item.rex-container
      .rex-item
        h3.title2= g.title
      - for (let j = 0; j < g.subGallery.length; j++)
        -let sg = g.subGallery[j]
        .rex-item.l-25.m-50.l-block.center
          .card
            .card__img
              img(src= `${path_media}images/${currentUrl}/${sg.src}` alt= currentPage)