extends layouts/template
append config
  -currentPage = 'Limpieza en entidades y empresas'
  -currentUrl = 'limpieza-en-entidades-y-empresas'
  -
    gallery = [
      {
        title: 'Embajadas y consulados',
        subGallery: [
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-11-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-12-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-13-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-14-thumb.jpg'
          }
        ]
      },
      {
        title: 'Entidades públicas',
        subGallery: [
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-03-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-04-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-15-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-16-thumb.jpg'
          }
        ]
      },
      {
        title: 'Entidades no Gubernamentales',
        subGallery: [
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-02-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-07-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-17-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-18-thumb.jpg'
          }
        ]
      },
      {
        title: 'Entidades financieras',
        subGallery: [
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-01-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-06-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-09-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-en-entidades-y-empresas-10-thumb.jpg'
          }
        ]
      }
    ]
block main
  h2.title.t1= currentPage
  - for(let i = 0; i < gallery.length ; i++)
    - let g = gallery[i]
    article.rex-item.rex-container
      .rex-item
        h3.title2= g.title
      - for (let j = 0; j < g.subGallery.length; j++)
        -let sg = g.subGallery[j]
        .rex-item.l-25.m-50.l-block.center
          .card
            .card__img
              img(src= `${path_media}images/${currentUrl}/${sg.src}` alt= currentPage)