extends layouts/template
append config
  -currentPage = 'Limpieza sanitaria'
  -currentUrl = 'limpieza-sanitaria'
  -
    gallery = [
      {
        title: 'Hospitales, Clínicas, Centros de salud y Postas sanitarias',
        subGallery: [
          {
            title: '',
            src: 'limpieza-sanitaria-01-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-02-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-05-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-04-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza de quirófanos',
        subGallery: [
          {
            title: '',
            src: 'limpieza-sanitaria-03-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-06-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-07-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-08-thumb.jpg'
          }
        ]
      },
      {
        title: 'Salas de extracción de sangre',
        subGallery: [
          {
            title: '',
            src: 'limpieza-sanitaria-17-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-18-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-19-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-20-thumb.jpg'
          }
        ]
      },
      {
        title: 'Unidades de cuidados intensivos',
        subGallery: [
          {
            title: '',
            src: 'limpieza-sanitaria-13-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-14-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-15-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-16-thumb.jpg'
          }
        ]
      },
      {
        title: 'Laboratorios',
        subGallery: [
          {
            title: '',
            src: 'limpieza-sanitaria-09-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-10-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-11-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-12-thumb.jpg'
          }
        ]
      },
      {
        title: 'Salas de neonatos',
        subGallery: [
          {
            title: '',
            src: 'limpieza-sanitaria-21-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-22-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-23-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-24-thumb.jpg'
          }
        ]
      },
      {
        title: 'Salas de urgencias médicas, oficinas, consultas, habitaciones',
        subGallery: [
          {
            title: '',
            src: 'limpieza-sanitaria-25-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-26-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-27-thumb.jpg'
          },
          {
            title: '',
            src: 'limpieza-sanitaria-28-thumb.jpg'
          }
        ]
      }
    ]
block main
  h2.title.t1= currentPage
  - for(let i = 0; i < gallery.length ; i++)
    - let g = gallery[i]
    article.rex-item.rex-container
      .rex-item
        h3.title2= g.title
      - for (let j = 0; j < g.subGallery.length; j++)
        -let sg = g.subGallery[j]
        .rex-item.l-25.m-50.l-block.center
          .card
            .card__img
              img(src= `${path_media}images/${currentUrl}/${sg.src}` alt= currentPage)