extends layouts/template
append config
  -currentPage = 'Otros servicios'
  -currentUrl = 'otros-servicios'
  -
    gallery = [
      {
        title: 'Limpieza de vidrios en altura',
        subGallery: [
          {
            title: 'Limpieza 1',
            src: 'otros-servicios-04-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'otros-servicios-01-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'otros-servicios-02-thumb.jpg'
          },
          {
            title: 'Limpieza 1',
            src: 'otros-servicios-03-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza de fachadas',
        subGallery: [
          {
            title: '',
            src: 'otros-servicios-05-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-servicios-06-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-servicios-07-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-servicios-08-thumb.jpg'
          }
        ]
      }
    ]
block main
  h2.title.t1= currentPage
  - for(let i = 0; i < gallery.length ; i++)
    - let g = gallery[i]
    article.rex-item.rex-container
      .rex-item
        h3.title2= g.title
      - for (let j = 0; j < g.subGallery.length; j++)
        -let sg = g.subGallery[j]
        .rex-item.l-25.m-50.l-block.center
          .card
            .card__img
              img(src= `${path_media}images/${currentUrl}/${sg.src}` alt= currentPage)