extends layouts/template
append config
  -currentPage = 'Otros ambientes'
  -currentUrl = 'otros-ambientes'
  -
    gallery = [
      {
        title: 'Limpieza de centros deportivos',
        subGallery: [
          {
            title: '',
            src: 'otros-ambientes-05-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-06-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-07-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-08-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza de aeropuertos',
        subGallery: [
          {
            title: '',
            src: 'otros-ambientes-12-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-13-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-14-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-15-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza de terminales de buses',
        subGallery: [
          {
            title: '',
            src: 'otros-ambientes-16-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-17-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-18-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-19-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza  de hoteles, residenciales, hostales y alojamientos',
        subGallery: [
          {
            title: '',
            src: 'otros-ambientes-01-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-02-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-03-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-04-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza de restaurantes',
        subGallery: [
          {
            title: '',
            src: 'otros-ambientes-20-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-21-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-22-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-23-thumb.jpg'
          }
        ]
      },
      {
        title: 'Unidades educativas y Universidades',
        subGallery: [
          {
            title: '',
            src: 'otros-ambientes-31-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-10-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-11-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-32-thumb.jpg'
          }
        ]
      },
      {
        title: 'Guarderías y centros infantiles',
        subGallery: [
          {
            title: '',
            src: 'otros-ambientes-28-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-29-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-30-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-09-thumb.jpg'
          }
        ]
      },
      {
        title: 'Limpieza en eventos y ferias',
        subGallery: [
          {
            title: '',
            src: 'otros-ambientes-24-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-25-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-26-thumb.jpg'
          },
          {
            title: '',
            src: 'otros-ambientes-27-thumb.jpg'
          }
        ]
      }
    ]
block main
  h2.title.t1= currentPage
  - for(let i = 0; i < gallery.length ; i++)
    - let g = gallery[i]
    article.rex-item.rex-container
      .rex-item
        h3.title2= g.title
      - for (let j = 0; j < g.subGallery.length; j++)
        -let sg = g.subGallery[j]
        .rex-item.l-25.m-50.l-block.center
          .card
            .card__img
              img(src= `${path_media}images/${currentUrl}/${sg.src}` alt= currentPage)