.main-logo {
  // img{
  //   height  : calc(var(--header-height) - 1rem);
  //   width   : auto;
  //   display : block;
  //   object-fit: contain;
  // }
  svg {
    width: 100%;
    height: calc(var(--header-height) - 1rem);
    @include from(l){
      width: 28vw;
    }
  }
}

#bubles {
  #Ellipse{
    animation-name: buble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}
@keyframes buble {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}