/*
  MAIN MENU
  Este es el menú principal del sitio, aparece dentro de main header

  Su estructura es
    <nav class="main-menu" id="main-menu">
      <ul>
        <li><a href="#">Item de menu</a></li>
        <li><a href="#">Item de menu</a></li>
      </ul>
    </nav>

  En movil se activa con un botón de hamburguesa.
  En el ejemplo es un div pero puede ser cualquier elemento
  (debe estar fuera del nav)
    <div id="main-menu-toggle" class="main-menu-toggle to-l"></div>

  Entra por la derecha justo debajo de main-header

*/

.main-menu {
  a:hover {
    text-decoration : none;
  }

  .active {

    @include from(l) {
      font-weight : 400;
      color: var(--third-color);

      &::before {
        display : none;
      }
    }
  }
}


body {
  position   : relative;
  right      : 0;
  transition : right .5s;

  &.main-menu-visible {
    @include to(l) {
      right      : 80%;
      overflow-y : hidden;
    }
  }
}

.main-menu-toggle {
  @include navToggle(20px, var(--text-color));
}

@mixin main-menu {
  font-size : var(--small);

  @include to(l) {
    position   : fixed;
    top        : 0;
    background : var(--first-rgb-9);
    width      : 80%;
    right      : -80%;
    padding    : 1em 1em 2em;
    height     : 100vh;
    transition : right .5s;
    overflow-y : auto;
    // Mostrar el menu
    &.show {
      right : 0;
    }
  }

  .menu {
    @include clearMenu;
    @include from(l) {
      display : flex;
    }
  }

  li {
    color         : #FFF;
    border-bottom : 1px solid rgba(#fff, .2);
    padding       : 1em 0;
    margin        : 0;

    @include from(l) {
      color       : var(--text-color);
      padding     : 0;
    }
  }
  .button--ghost{
    padding: .2rem 0
  }
  i {
    width: 100%;
    display: flex;
  }
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-items: flex-end;
  @include main-menu;
  li { padding: .5rem 0;}
}
.menu{
  width: 100%;
  align-self: flex-end;
}
.m-inicio{
  @include clearMenu;
  @include from(l) {
    display : flex;
    margin-bottom: .5rem;
  }
  @include to(l){
    display: flex;
    justify-content: center;
    a{
      color: #FFF;
      &:hover{
        color: var(--first-color);
        background: #FFF;
      }
    }
  }
}
