.main-banner {
  background    : var(--first-color);
  color         : #FFF;
  // clip-path     : polygon(0 0, 100% 0, 100% 100%, 0 94%);
  position      : relative;

  // Separación del contenido
  padding       : 5rem 0 5rem;
  @include from(l) { padding: 10rem 0 10rem }

  &.main-banner--secondary { background : var(--second-color)  }
  &.main-banner--tertiary  { background : var(--third-color)  }
  &.main-banner--accent    { background : var(--accent-color) }
  &.main-banner--dark      { background : var(--dark-color)   }
}

.main-banner__img {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  object-fit : cover;
  opacity    : 1;
}

.main-banner__data {
  position      : relative;
  text-align    : center;
  text-shadow: 1px 1px 1px var(--first-color);
  h1{
    display: inline-block;
    text-transform: uppercase;
    background: linear-gradient(var(--first-color), var(--first-rgb-3), var(--first-color));
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 30px;
  }
}

.main-banner__author {
  color: #fff;
  margin-top : -1.5rem;

  a {
    color: inherit;
  }

  &-img {
    width : 6rem;
    height : 6rem;
    border-radius : 50%;
    border : 2px solid;
    display : block;
    margin : 0 auto;
  }

  &-name {
    font-size : var(--small);
  }
}
