.main-header {
  position: relative;
  box-shadow: 0 0 11px 0px var(--dark-color);
  height        : var(--header-height);
  border-bottom : 1px solid var(--border-color);
  display       : flex;
  align-items   : center;
  background    : linear-gradient(90deg, #FFF 40%, #eeeeee 60%);
  // position      : fixed;
  top           : 0;
  width         : 100%;
  left          : 0;
  z-index       : var(--z-fixed);
  border-top    : solid .5rem var(--accent-color-alt);
  box-shadow    : 1px 1px 1px var(--dark-color);
  // & > div{
  //   @include from(l){
  //     flex-direction: row-reverse;
  //   }
  // }
}
.header-links{
  @include from(m){
    position: relative;
  }
  @include from(l) {
    @include mainEnd;
  }
  @include to(l){
    @include mainCenter;
    @include crossCenter;
  }
}
