.main-footer {
  background : linear-gradient(var(--first-dark-3), var(--first-color));
  color      : #FFF;
  padding    : 1rem 0 0;
  font-size  : var(--normal);
  margin-top : auto;
  a{
    color: #FFF;
  }
  &__title{
    background: var(--accent-color);
    text-align: center;
    border-bottom: solid 2px;
    padding: .2rem 0;
    text-transform: uppercase;
  }
  p{
    margin-bottom: .5rem;
  }
}
