.title, [class*="title--"]{
  color: var(--first-color);
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3.5px solid;
  border-image: linear-gradient(90deg,transparent,var(--accent-light-2) 50%,var(--accent-dark-1) 0,var(--accent-light-2) 50%,transparent);
  border-image-slice: 1;
}
.title2,[class*="title2--"]{
  border-radius: 30px 0 0 30px;
  background: linear-gradient(90deg, var(--first-color), transparent);
  color: #FFF;
  padding: .5rem 1.2rem;
  font-size: var(--title2);
  text-shadow: 1px 1px 1px var(--first-color);
}
.title--second   {  }
.title--tertiary {  }
.title--dark     {  }
.title--accent   {  }