- var currentPage = 'Inicio'
- var currentUrl = 'inicio'
- var siteName = 'Oh! Que Limpio'
- var slogan = 'Empresa de limpieza industrial, comercial y doméstica'
- var description = 'Limpieza en embajadas y consulados, entidades públicas, entidades no Gubernamentales, entidades financieras, limpieza de fábricas e industrias, de almacenes, bodegas, recojo selectivo de residuos industriales. Limpieza área de máquinas, residuos sólidos urbanos, de vidrios en altura, de talleres de todo tipo, de zonas de circulación, de conductos de ventilación y climatización. Limpieza de habitaciones, lavado de muebles con tapiz, Lavado, abrillantado y pulido de pisos, de  espejos, limpieza y desempolvado de fachadas, paredes , techos, cielos falsos, lavado de cortinas, manteles , estores, persianas, lavado de colchones, lavado y desengrasado de cocinas y comedores. Limpieza de hospitales, clínicas, centros de salud, postas sanitarias, limpieza de oficinas. Limpieza de centros deportivos,  aeropuertos, terminales de buses, hoteles, residenciales, hostales y alojamientos, restaurantes, unidades educativas, universidades, guarderías y centros infantiles, limpieza en eventos y ferias.'

//-Site Version
- var siteVersion = 'fgdfg8888'

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/'

//- Gallery
- var gallery = []