td [class*="button"] {
  display: inline;

  &:last-child {
    margin-right : 0;
  }
}
.made-in{
  opacity: .28;
  &:hover{
    opacity: 1;
  }
}
.slogan{
  @include showFrom(l);
  @include from (l) {
    position: absolute;
    top: 34%;
    left: 1rem;
    transform: translateY(-50%);
    text-transform: uppercase;
    color: var(--first-color);
  }
}
.llamenos{
  position: absolute;
  top: 4rem;
  margin-bottom: .2rem;
  @include crossCenter;
  @include showFrom(l);
}
