footer.main-footer
	.rex-container
		.rex-item.l-45.m-100.s-100.main-footer__item.l-block
			h3.main-footer__title Nuestro servicios
			.main-footer__content
				ul.feature-list.rex-container
					li.rex-item.l-50(v-for="item in mainmenu")
						a(:href="item.href + '.html'" v-text="item.title")
						//- a(v-else :href="item.href" v-text="item.title + ': '")
						//- template(v-for="subitem in item.submenu")
							a(:href="subitem.href" v-text="' - ' + subitem.title")
		.rex-item.l-35.m-60.s-100.main-footer__item.l-block
			h3.main-footer__title #{siteName} - Bolivia
			.main-footer__content
				p.center
					b LA PAZ: 
					| El Alto, Z. San Juan – Rio Seco, c. Jaguey # 3244
				p.center
					a.button--cta.button--small.center(href="contactos.html")
						| Ver mapa
						i.icon-marker
				p.center
					b Cel:   
					span
						i.icon-whatsapp 
						span.t2 69858627 –
						i.icon-whatsapp 
						span.t2 78924565
		.rex-item.l-20.m-40.s-100.main-footer__item.l-block
			h3.main-footer__title Siguenos en:
			.main-footer__content.main-center.cross-center
				ul.social
					//- li: a.icon-whatsapp(href="https://api.whatsapp.com/send?phone=59171563681" target="_blank")
					li: a.icon-facebook(href="https://www.facebook.com/Oh-que-Limpio-1142990652519556/" target="_blank")
					li: a.icon-youtube(href="" target="_blank")
				p.center También puede contactarnos a:
					br 
					a(href="javascript:void(0)" target="_blank") ohquelimpioes@gmail.com
	.rex-container
		.rex-item.l-100.main-footer__item
			.main-footer__content.main-distribute.cross-center
				p Todos los Derechos Reservados ® 
					b #{siteName} 
					| © 
					span#currentDate
				p: a.made-in(href='https://ahpublic.com/', target='_blank') Diseño y Programación: Ah! Publicidad
