header.main-header
	.rex-container.full
		.rex-item.s-80.l-30.cross-center
			a(href= path_page + "").main-logo
				//- img(src= path_media + "images/oh-que-limpio.png", alt=siteName)
				include ../svg/logo.svg
				//- img(src= path_media + 'svg/FOR-banner-rgb.svg').main-logo
				//- h1 Limpieza industrial, comercial y doméstica
		.rex-item.s-20.l-70.header-links
			h2.slogan LIMPIAMOS para su comodidad y PLACER
			p.center.llamenos
				//- b LLÁMENOS o ESCRÍBANOS: 
				span.cross-center
					i.icon-whatsapp 
					span.t2 69858627 –
					i.icon-whatsapp 
					span.t2 78924565
			nav.main-menu#main-menu
				ul.m-inicio
					li(v-for="item in menuinicio")
						a.button--ghost.button--small.smaller(:href="item.href")
							i.t2.main-center.rex-item(:class="item.icon")
							span(v-text="item.title")              
				ul.menu
					li.rex-item.l-1-6(v-for="item in mainmenu"): a.small.button--menu(:href= "item.href + '.html'" v-text="item.title")
			.main-menu-toggle.to-l#main-menu-toggle
