include ../mixins/main-banner
//- .slider-next.button NEXT
//- .slider-prev.button PREV
.rex-container(style= "display:none;")
  .slider-prev <i class="icon-left"></i>
  .slider-next <i class="icon-right"></i>
.rex-slider
  +banner(path_media + "images/slides/slide01.jpg", 'Limpieza en entidades y empresas', siteName, '', true, false)
  +banner(path_media + "images/slides/slide03.jpg", 'Limpieza domestica', siteName, '', true, false)
  +banner(path_media + "images/slides/slide02.jpg", 'Limpieza en entidades y empresas', siteName, '', true, false)
  +banner(path_media + "images/slides/slide04.jpg", 'Limpieza sanitaria', siteName, '', true, false)
