// This file doesn't generate any css
@mixin button {
  display         : inline-block;
  padding         : 1em 2em;
  background      : var(--first-color);
  color           : #FFF;
  margin-right    : .5rem;
  cursor          : pointer;
  text-decoration : none;
  border-radius   : .25rem;
  transition      : transform .05s;
  border          : none;
  text-align      : center;

  &:hover {
    background      : var(--first-color-alt);
    text-decoration : inherit;
  }

  &:active {
    transform : scale(.99)
  }
  i{
    margin-right: .3rem;
  }
}

@mixin button-small {
  padding : .2rem .5rem;
}

@mixin button-center {
  display     : table;
  margin-left  : auto;
  margin-right : auto;
}

@mixin button-full {
  margin-right : 0;
  margin-left  : 0;
  width        : 100%;
}

@mixin button-last {
  margin-right: 0;
}

@mixin button-second {
  background : var(--second-color);

  &:hover {
    background : var(--second-color-alt);
  }
}

@mixin button-alert {
  background : var(--third-color);

  &:hover {
    background : var(--third-color-alt);
  }
}

@mixin button-cta {
  background : var(--accent-color);

  &:hover {
    background : var(--accent-color-alt);
  }
}

@mixin button-ghost {
  color      : var(--first-color);
  background : none;
  border     : 1px solid;

  &:hover {
    background   : var(--first-color);
    color        : #FFF;
    border-color : transparent;
  }
}

@mixin button-ghost-second {
  color : var(--second-color) ;

  &:hover {
    background : var(--second-color);
    color      : #FFF;
  }
}

@mixin button-ghost-alert {
  color : var(--third-color);

  &:hover {
    background : var(--third-color);
    color      : #FFF;
  }
}

@mixin button-ghost-cta {
  color : var(--accent-color);

  &:hover {
    background : var(--accent-color);
    color      : #FFF;
  }
}

@mixin button-menu{
  @include mainCenter;
  @include crossCenter;
	border: solid .25em transparent;
  padding: .25em;
  // width: 10.75em; 
  height: 4em;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 1.375em;
  box-shadow: inset 0 1px 1px var(--accent-rgb-3), 
    inset 0 -1px 1px rgba(var(--accent-dark-2), .75);
  background: linear-gradient(var(--accent-dark-1), var(--accent-light-3)) content-box, 
    linear-gradient(var(--accent-light-3), var(--accent-dark-1)) padding-box, 
    linear-gradient(var(--accent-light-2), var(--accent-color)) border-box;
  &:hover {
    background: linear-gradient(var(--accent-color), var(--accent-light-3)) content-box, 
    linear-gradient(var(--accent-light-3), var(--accent-dark-1)) padding-box, 
    linear-gradient(var(--accent-light-2), var(--accent-color)) border-box;
  }
}
