// Colors
$firstColor     : #004D98;
$firstColorAlt  : #003E80;
$secondColor    : #55ADDF;
$secondColorAlt : #498AC2;
$thirdColor     : #BC0825;
$thirdColorAlt  : #da000b;
$accentColor    : #ED7F0D;
$accentColorAlt : #EE8B0B;

// Complementary colors
$darkColor   : #282D31;
$borderColor : #e2e7ec;
$textColor   : #53575A;
$bodyBg      : linear-gradient(#014f92,#4797dd,#01427a);

// Mixin lighten & darken generate's CSS variables
@mixin colors($property, $value, $lighten: 0, $darken: 0) {
  @if ($lighten != 0) {
    @for $i from 1 through $lighten {
      #{$property}-light-#{$lighten - $i + 1}: #{lighten($value, 5*$lighten - $i + 1)};
    }
  }
  #{$property}-color: #{$value};
  @if ($darken != 0) {
    @for $i from 1 through $darken {
      #{$property}-dark-#{$i}: #{darken($value, 5*$i)};
    }
  }
}

// Mixin rbga generate CSS variable
@mixin rgba($property, $val, $alpha: 0) {
  #{$property}-rgb-#{$alpha*10}: #{rgba($val, $alpha)};
}

// map for colors
$primaryColors: (
  --first: $firstColor,
  --second: $secondColor,
  --third: $thirdColor,
  --accent: $accentColor,
  --dark: $darkColor,
);

:root{
  // Colors
  @include colors    (--first, $firstColor, 4,4);
  --first-color-alt  : #{$firstColorAlt};
  @include colors    (--second,$secondColor,3,2);
  --second-color-alt : #{$secondColorAlt};
  @include colors    (--third, $thirdColor, 3,2);
  --third-color-alt  : #{$thirdColorAlt};
  @include colors    (--accent,$accentColor,3,2);
  --accent-color-alt : #{$accentColorAlt};
  
  // Complementary colors
  --dark-color       : #{$darkColor};
  --border-color     : #{$borderColor};
  --text-color       : #{$textColor};
  --body-bg          : #{$bodyBg};

  // RGBA colors
  @include rgba(--border, $borderColor, .2);
  @include rgba(--border, $borderColor, .5);
  @each $key, $value in $primaryColors {
    // RBGA para tablas, example: --first-rgb-1:
    @include rgba($key, $value, .1);
    @include rgba($key, $value, .3);
    @include rgba($key, $value, .7);
    @include rgba($key, $value, .9);
  }
}