@mixin clearMenu {
  list-style    : none;
  margin-top    : 0;
  margin-bottom : 0;
  padding-left  : 0;
  margin-left   : 0;
}

@mixin widget {
  border     : 1px solid var(--accent-color);
  box-shadow : 0 1px 2px var(--accent-rgb-3);
  background : #fff;
}

@mixin round {
  border-radius : 0.3rem;
}

@mixin radius {
  border-radius : 1.5rem;
}

@mixin circle {
  border-radius : 50%;
}
