// Typography config
// This file doesn't generate any css
// CSS for typography will be generate from theme/_typography.scss file.

// Convert pixels to rem
@function rem($px) {
  @return ($px / 16px) * 1rem;
}

// Font families
$body-font   : Lato, 'sans-serif'; // only 400 and 400i
$heading-font : 'PT Sans Narrow', 'sans-serif'; // only 700

// Font sizes
$fontSizes: (
  title1  : rem(36px),
  title2  : rem(24px),
  title3  : rem(20px),
  normal  : rem(16px),
  small   : rem(14px),
  smaller : rem(12px)
);

// Get font size from map
@function fontSize($size) {
  @if map-has-key($fontSizes, $size) {
    @return map-get($fontSizes,$size)
  } @else {
    @error '$size is not valid, valid values are t1, t2, t3, normal, small, smaller'
  }
}

//Fontastic
@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-zoom:before {
  content: "\64";
}
// .icon-whatsapp:before {
//   content: "\62";
// }
.icon-whatsapp:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url(../images/whatsapp.png);
  background-size: 35px;
}
.icon-home:before {
  content: "\65";
}
.icon-marker:before {
  content: "\66";
}
.icon-contact:before {
  content: "\67";
}
.icon-users:before {
  content: "\68";
}
.icon-youtube:before {
  content: "\63";
}
.icon-bars:before {
  content: "\6d";
}
.icon-caret:before {
  content: "\6f";
}
.icon-play:before {
  content: "\69";
}
.icon-right:before {
  content: "\6a";
}
.icon-left:before {
  content: "\6b";
}
.icon-pause:before {
  content: "\6c";
}